config.stopBubbling = true
lombok.log.fieldName = LOGGER
lombok.experimental.flagUsage=error

lombok.AllArgsConstructor.flagUsage = error
lombok.data.flagUsage= error
lombok.val.flagUsage=error
lombok.var.flagUsage=error
lombok.nonNull.flagUsage=error
lombok.allArgsConstructor.flagUsage=error
lombok.requiredArgsConstructor.flagUsage=error
lombok.cleanup.flagUsage=error
lombok.sneakyThrows.flagUsage=error
lombok.synchronized.flagUsage=error
